<div class="row">
  <div class="col-md-12 text-center" style="margin-top: 20px;">
    <div><%= image_tag user.get_profile_image(200, 200), class: "img-fluid rounded-circle img-profile" %></div>
    <h3 class="mt-3"><%= user.name %></h3>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>自己紹介</th>
          <td><%= user.introduction %></td>
        </tr>
        <tr>
          <th>使用タグ</th>
          <td class="flex-wrap tag-link">
            <% if @frequently_used_tags.any? %>
              <% @frequently_used_tags.each do |tag_name, count| %>
                <span class="badge mr-2 mb-2">
                  <i class="fa-solid fa-tag" style="color: #a988bf;"></i>
                  <%= link_to "#{tag_name}(#{count})", search_path(keyword: tag_name, search_type: 'tag') %>
                </span>
              <% end %>
            <% else %>
              <span>使用しているタグはありません</span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
