<div class="container">
  <div class="row main-row">
    <div class="col-12 mx-auto">
     <h3 class="p-3 text-center title">本当に退会しますか？</h3>
      <div class="mt-5 text-center">
        <p>退会すると、ご自身のユーザー情報や<br>
           これまでの投稿データが見られなくなります。<br>
           退会する場合は、「退会する」をクリックしてください。</p>
      </div>
      <div class="mt-5 text-center">
        <%= link_to "退会しない", user_path(current_user), class: "btn btn-primary mr-5" %>
        <%= link_to "退会する", cancellation_user_path, method: :patch,class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
