<div class="container">
  <div class="row main-row">
    <div class="col-md-12 mx-auto">
      <h1>
        <% if current_user == @user %>
          マイページ
        <% else %>
          ユーザー詳細
        <% end %>
      </h1>

        <div class="wrap">
          <ul id="tab-menu">
            <li><a href="#tab1" class="active">ユーザー情報</a></li>
            <li><a href="#tab2" class="">投稿</a></li>
            <li><a href="#tab3" class="">いいね</a></li>
          </ul>

          <div id="tab-contents">
            <div id="tab1" class="tab">
              <% if current_user == @user %>
                <%= render 'mypage', user: @user %>
              <% else %>
                <%= render 'user/users/user_info', user: @user %>
              <% end %>
            </div>

            <div id="tab2" class="tab">
              <%= render partial: 'user/users/user_posts', collection: @posts, as: :post %>
            </div>

            <div id="tab3" class="tab">
              <%= render 'user/users/user_favorites', favorite_posts: @favorite_posts %>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
