<% if post.present? %>
  <%= form_with model: [post, comment || Comment.new], local: false do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントを送る", class: "w-100", id: "comment_textarea" %>
    <div class="d-flex justify-content-end mt-2 mb-2">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
