///post/indexページcardのユーザー情報部分
.card-header {
  background-color: #dbd0e6;
}

///post/indexページcardの投稿内容部分
.card-body {
  background-color: #fffff9;
}

.card-text {
  white-space: nowrap; /* 改行を無視する */
  overflow: hidden; /* コンテンツがオーバーフローした場合に隠す */
  text-overflow: ellipsis; /* オーバーフローしたテキストを省略記号で表示する */
}

//post/indexページcardのいいね・コメント数表示部分
.card-footer {
  background-color: #fffff9;
  height: 40px;
}

//post/indexのModal

.modal-dialog {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-content {
  overflow: hidden; /* コンテンツがオーバーフローした場合に隠す */
  border-radius: 0.3rem; /* 角丸のスタイリング */
}

/* モーダルヘッダー、ボディ、フッターのスタイリング */
.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem; /* パディングの調整 */
}