.card {
  display: flex;
  flex-direction: column;
  height: 300px; /* カードの高さを固定 */
}

// cardを正方形にする
.square-card {
  height: 100%;  /* 高さを親要素に合わせる */
  width: 100%;   /* 幅を親要素に合わせる */
}

//post/indexページcardのユーザー情報部分
.card-header {
  background-color: #dbd0e6;
}

.card-img-top {
  width: 100%; /* 幅をカード全体に */
  height: 200px; /* 画像の高さを固定 */
  object-fit: cover; /* 画像をカバーするように設定 */
}

//post/indexページcardの投稿内容部分
.card-body {
  flex-grow: 1; /* カードの内容によって高さが変わらないようにする */
  background-color: #fffff9;
}

.card-text {
  white-space: nowrap; /* 改行を無視する */
  overflow: hidden; /* コンテンツがオーバーフローした場合に隠す */
  text-overflow: ellipsis; /* オーバーフローしたテキストを省略記号で表示する */
}

//post/indexページcardのいいね・コメント数表示部分
.card-footer {
  background-color: #fffff9;
  height: 40px;
}

//post/indexのModal

.modal-dialog {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-content {
  overflow: hidden; /* コンテンツがオーバーフローした場合に隠す */
  border-radius: 0.3rem; /* 角丸のスタイリング */
}

/* モーダルヘッダー、ボディ、フッターのスタイリング */
.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem; /* パディングの調整 */
}

@media (max-width: 767px) {
  .card {
    height: auto; /* 小さいデバイスでは高さを自動に */
  }
  .card-img-top {
    height: auto; /* 小さいデバイスでは画像の高さも自動に */
  }
}