html {
  height: 100%;
}

header {
  background-color: #F9F3E9;
}

header ul {
  list-style: none;
}

h1.main-title {
  text-align: center;
  color: #C53D43;
}

footer {
  text-align: center;
  bottom: 0;
  background-color: #F9F3E9;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}

body {
  background-color: #F9F3E9;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Kosugi Maru', sans-serif;
}


.main-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

tr {
  cursor: pointer;
}


///post/indexページcardのheader
.card-header {
  background-color: #dbd0e6;
}

.card-body {
  background-color: #F9F3E9;
}

//post/indexページcardのfooter
.card-footer {
  background-color: #dbd0e6;
  height: 40px;
}
