<div class="container">
  <div class="row main-row">
    <div class="col-12 mx-auto">
      <div class="row">
        <h4 class="col-md-6 mb-5 title">投稿一覧</h4>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <% if @posts.present? %>
          <%= render partial: 'user/posts/post', collection: @posts %>
        <% else %>
          <div class="col-md-4">
            投稿がありません。
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <% @posts.each do |post| %>
    <%= render 'user/posts/post_modal', post: post %>
  <% end %>
  <div class="row d-flex justify-content-center">
    <%= paginate @posts, theme: 'pagination' %>
  </div>
</div>
