<div class="container">
  <div class="row main-row">
    <div class="col-12 mx-auto">
      <div class="row">
        <h4 class="col-md-5 title">リクエスト一覧</h4>
      </div>

      <table class="table table-hover">
        <thead>
            <tr>
              <th>ユーザー</th>
              <th>タイトル</th>
              <th>リクエスト内容</th>
              <th>対応状況</th>
            </tr>
          </thead>
          <tbody>
            <% if @requests.present? %>
              <% @requests.each do |request| %>
                <tr>
                  <td>
                    <% if request.user.present? %>
                      <%= image_tag request.user.get_profile_image(50, 50) %>
                      <%= request.user.name %>
                    <% else %>
                      ユーザー情報なし
                    <% end %>
                  </td>
                  <td><%= request.title %></td>
                  <td><%= request.body %></td>
                  <td></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>
