/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #2A6BB7;
$secondary: #6C757D;
$success: #93b881;
$danger: #B1373C;
$warning: #FFDB4F;
$info: #83D4E4;
$light: #F8F9FA;
$dark: #41474A;

@import 'typography';
@import 'header';
@import 'post';
@import 'user';