/*bootstrapボタンの色変更*/

.btn-primary {
  background-color: #2A6BB7;
}

.btn-secondary {
  background-color: #6C757D;
}

.btn-success {
  background-color: #92B880;
}

.btn-danger {
  background-color: #B1373C;
}

.btn-warning {
  background-color: #FFDB4F;
}

.btn-info {
  background-color: #83D4E4;
}

.btn-light {
  background-color: #F8F9FA;
}

.btn-dark {
  background-color: #41474A;
}

