/* Notification Countainer Styles */
.notification-container {
  max-width: 600px;
  margin: auto; /* 中央揃え */
}

/* Notifications List Styles */
.notifications-list {
  margin-top: 20px;
}

.notification-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Notification Item Styles */
.notification-item {
  display: flex;
  align-items: center; /* アイテムを中央揃え */
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
}

.notification-item.unread {
  background-color: #f9f9f9;
  border-left: 4px solid #C36367;
}

/* Notification Body and Content Styles */
.notification-body {
  padding: 12px;
}

.notification-content {
  flex-grow: 1;
  color: black; /* 文字色を黒に */
  word-wrap: break-word; /* 長い単語でも折り返す */
  max-width: 70%;
  margin-right: 20px;
}


.notification-text {
  text-decoration: none;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis; /* 長すぎるテキストを省略記号で表示 */
  white-space: nowrap; /* 折り返しをしない */
  max-width: 100%;
}

.notification-date {
  color: #95949a;
  font-size: 0.8em;
}

/* Notification Image Styles */
.notification-image {
  flex-shrink: 0; /* 画像が縮小されないようにする */
  margin-left: 10px; /* 画像とコンテンツの間隔 */
  margin-right: 20px; /* 画像とボタンの間隔 */
}

.notification-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

/* Notification Action Button Styles */
.notification-action {
  width: 100px;
  text-align: center;
  margin-left: auto;
  order: 2; /* Flexboxの順序指定でボタンを右端に */
}

.notification-action.hidden {
  visibility: hidden; /* ボタンが消えてもスペースを維持 */
}
.notification-link, .notification-link:hover, .notification-link:active, .notification-link:visited {
  text-decoration: none;
  color: #d69090;
}
