/*投稿一覧card*/
.card {
  display: flex;
  flex-direction: column;
  height: 300px; /* カードの高さを固定 */
}

/*cardを正方形にする*/
.square-card {
  height: 100%;  /* 高さを親要素に合わせる */
  width: 100%;   /* 幅を親要素に合わせる */
}

.card-img-top {
  width: 100%; /* 幅をカード全体に */
  height: 200px; /* 画像の高さを固定 */
  object-fit: cover; /* 画像をカバーするように設定 */
  cursor: pointer;
}

/*post/indexページcardの投稿内容部分*/
.card-body {
  flex-grow: 1; /* カードの内容によって高さが変わらないようにする */
  background-color: #fffff9;
}

.card-text {
  white-space: nowrap; /* 改行を無視する */
  overflow: hidden; /* コンテンツがオーバーフローした場合に隠す */
  text-overflow: ellipsis; /* オーバーフローしたテキストを省略記号で表示する */
  color: #383838;
}

/*post/indexページcardのいいね・コメント数表示部分*/
.card-footer {
  background-color: #fffff9;
  height: 40px;
}

/*下線消去関連*/
.user-link a, .user-link a:hover, .user-link a:active, .user-link a:visited {
    text-decoration: none;
    color: #383838;
}

.prefecture-link a, .prefecture-link a:hover, .prefecture-link a:active, .prefecture-link a:visited,
.tag-link a, .tag-link a:hover, .tag-link a:active, .tag-link a:visited {
    text-decoration: none;
    color: #383838; /* またはデフォルトの色コードに設定 */
}

.text-muted, .text-muted * {
    text-decoration: none;
}

.text-muted:hover, .text-muted *:hover {
    text-decoration: none;
}

.text-muted a, .text-muted a:hover, .text-muted a:active, .text-muted a:visited {
    text-decoration: none;
}


/*post/indexのModal*/

.modal-dialog {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal .img-container img {
  width: 100%; /* 親コンテナの幅に合わせてスケール */
  max-width: 600px;
  height: 400px;
  object-fit: contain;  /* 画像がコンテナに合わせて表示されるように */
}

.modal-content {
  overflow: hidden; /* コンテンツがオーバーフローした場合に隠す */
  border-radius: 0.3rem; /* 角丸のスタイリング */
}

/* モーダルヘッダー、ボディ、フッターのスタイリング */
.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem; /* パディングの調整 */
}

.edit-modal .modal-dialog {
  max-width: 900px; /* 詳細モーダルと同じ最大幅 */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 1rem); /* 画面の高さに合わせて調整 */
}


@media (max-width: 767px) {
  .card {
    height: auto; /* 小さいデバイスでは高さを自動に */
  }
  .card-img-top {
    height: auto; /* 小さいデバイスでは画像の高さも自動に */
  }
  .btn-md {
    padding: .5rem 1rem; /* ボタンの内側の余白を調整 */
    font-size: 1rem; /* ボタンのフォントサイズを調整 */
  }
}

/* 小さなデバイス用のスタイル */
@media (max-width: 576px) {
  .modal-dialog {
    width: 95%; /* 小さい画面に合わせてモーダルの幅を調整 */
    margin: 10px auto; /* 小さい画面でのモーダルのマージンを調整 */
  }

  .modal .img-container img {
    max-width: none; /* 小さいデバイスでは幅を100%に */
    height: auto;
  }
}

/* 中くらいのデバイス用のスタイル */
@media (min-width: 577px) and (max-width: 768px) {
  .modal .img-container img {
    max-width: 100%; /* 幅は100%に */
    height: auto; /* アスペクト比を維持 */
  }
}

/* 大きなデバイス用のスタイル */
@media (min-width: 769px) {
  .modal .img-container img {
    max-width: 800px; /* 大きなディスプレイでは最大幅を800pxに */
    max-height: 600px; /* 最大高さを600pxに */
  }
}

/*新規投稿画面ボタン幅固定*/
@media (min-width: 992px) { /* 大画面デバイス向け */
  .responsive-btn {
    width: 32%; /* 3つのボタンが等間隔になるように設定 */
    margin: 0 1%; /* 左右のマージン */
  }
}

@media (max-width: 991px) { /* タブレットサイズ向け */
  .responsive-btn {
    width: 32%;
    margin: 0 1%; /* 左右のマージン */
  }
}

@media (max-width: 767px) { /* スマートフォンサイズ向け */
  .responsive-btn {
    width: 32%; /* 1つのボタンが全幅を占めるように設定 */
    margin: 10px 0; /* 上下のマージン */
  }
}