html {
  height: 100%;
}

header {
  background-color: #F9F3E9 !important;
}

header ul {
  list-style: none;
}

h1.main-title {
  text-align: center;
  color: #C53D43;
}

footer {
  text-align: center;
  bottom: 0;
  background-color: #F9F3E9;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}

body {
  background-color: #F9F3E9 !important;
  color: #543f32 !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover, a:active, a:visited {
  text-decoration: none;
}


.main-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

tr {
  cursor: pointer;
}

/* 投稿button */
.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 18px;
  background-color: #C53D43;
  border-radius: 50%; /* 正円にする */
  text-decoration: none;
  position: fixed;
  right: 30px; /* 右から20pxの位置に */
  bottom: 30px; /* 下から20pxの位置に */
}

.button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 78, 86, 0.2);
  transition: all 0.3s;
  border-radius: 50%;
}
.button a:hover::before {
  opacity: 0;
  transform: scale(0.4, 0.4);
}
.button a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid rgba(255, 78, 86, .4);
  transform: scale(1.2, 1.2);
  border-radius: 50%;
}
.button a:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.custom-height {
  min-height: 100px; /* 初期の高さ */
  height: auto;
  overflow-y: hidden; /* 縦方向のスクロールバーを隠す */
  vertical-align: top;
}


@media (max-width: 768px) {
  .button-text {
    display: none; /* スマホのビューポートでテキストを非表示にする */
  }

  .button a {
    width: 50px; /* スマホ用の幅 */
    height: 50px; /* スマホ用の高さ */
  }
}

/*新規投稿画面ボタン幅固定*/
@media (min-width: 992px) { /* 大画面デバイス向け */
  .responsive-btn {
    width: 32%; /* 3つのボタンが等間隔になるように設定 */
    margin: 0 1%; /* 左右のマージン */
  }
}

@media (max-width: 991px) { /* タブレットサイズ向け */
  .responsive-btn {
    width: 32%;
    margin: 0 1%; /* 左右のマージン */
  }
}

@media (max-width: 767px) { /* スマートフォンサイズ向け */
  .responsive-btn {
    width: 32%; /* 1つのボタンが全幅を占めるように設定 */
    margin: 10px 0; /* 上下のマージン */
  }
}