.main-tabs {
  width:100%;
  margin:10px auto;
  position:relative;
}
.main-tab-buttons span {
  flex: 1;
  color:#333;
  background:#fffff9;
  cursor:pointer;
  border-bottom:2px solid #93b881;
  display:block;
  width:33.3%;
  float:left;
  text-align:center;
  height:45px;
  line-height:40px;
}
.main-tab-buttons span.main-active {
  background: #93b881; /* アクティブなタブの背景色を緑色に設定 */
  color: #fff; /* アクティブなタブのテキスト色を白色に設定（必要に応じて） */
}
.main-tab-content {
  min-height: 700px;
  padding:15px;
  background:#fffff9;
  display:block;
  color:#333;
}
#lamp {
  width:33.3%;
  height:2px;
  display:block;
  position:absolute;
  top:40px;
  left: 0;
  transition: all .3s ease-in;
}
#lamp.main-content2 {
  left:33.3%;
}
#lamp.main-content3 {
  left:66.6%;
}
#lamp.main-content1 {
  left:0;
}

.posts-section {
  margin-bottom: 20px;
}

.post-tabs {
  width:80%;
  margin:5px auto;
  position:relative;
}
.post-tab-buttons span {
  flex: 1;
  color:#333;
  background:#fffff9;
  cursor:pointer;
  border-bottom:2px solid #7a9970;
  display:block;
  width:50%;
  float:left;
  text-align:center;
  height:40px;
  line-height:40px;
}
.post-tab-buttons span.post-active {
  background: #7a9970; /* アクティブなタブの背景色を緑色に設定 */
  color: #fff; /* アクティブなタブのテキスト色を白色に設定（必要に応じて） */
}
.post-tab-content {
  min-height: 700px;
  border-bottom:3px solid #7a9970;
  padding:15px;
  background:#fffff9;
  display:block;
  color:#333;
}
#post-lamp {
  width:50%;
  height:2px;
  display:block;
  position:absolute;
  top:40px;
  left: 0;
  transition: all .3s ease-in;
}
#post-lamp.post-content1 {
  left: 0;
}
#post-lamp.post-content2 {
  left: 50%;
}

.post-tab-content .row {
  display: flex;
  flex-wrap: wrap;
}

.post-tab-content .col {
  flex: 0 0 100%;
  max-width: 100%;
}

/* admin 側ユーザー一覧 */
.table.table-hover td.table-cell-middle,
.table.table-hover th.table-cell-middle {
  vertical-align: middle;
}



@media (max-width: 768px) {
  .tab-content {
    min-height: 300px; /* 小さいデバイスの場合の最小高さ */
  }
}

@media (min-width: 768px) {
  .post-tab-content .row-cols-md-2 > .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
