<h1>通知一覧</h1>
<% if @notifications.any? %>
  <div class="list-group">
    <% @notifications.each do |notification| %>
      <div class="notification">
        <p><%= generate_notification_message(notification) %></p>
        <p><%= get_notifiable_name(notification) %></p>
        <% if image_url = get_notifiable_image_url(notification, 300, 300) %>
          <img src="<%= image_url %>" alt="関連画像">
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>通知はありません。</p>
<% end %>
